@import "tailwindcss";

:root {
  font-family: "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.47;
  font-weight: 400;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
